CS AdminKit/development2/gsoap/installer/param.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* param
   Generated by gSOAP 2.7.0d from soapheader.h
   Copyright (C) 2001-2004 Genivia, Inc. All Rights Reserved.
   This software is released under one of the following three licenses:
   GPL, the gSOAP public license, or Genivia's license for commercial use.
   See README.txt for further details.
*/-->
 <schema targetNamespace="http://tempuri.org/param.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:param="http://tempuri.org/param.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="null">
   <restriction base="xsd:boolean">
   </restriction>
  </simpleType>
  <complexType name="value">
   <sequence>
     <element name="data" type="xsd:anyType" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="entry">
   <sequence>
     <element name="name" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value" type="param:value" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="node">
   <sequence>
    <element name="item" type="param:entry" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="params">
   <sequence>
     <element name="node" type="param:node" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="checksum" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="binfmt" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="arrayvalue">
   <sequence>
    <element name="item" type="param:value" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

