CS AdminKit/development2/gsoap/mobile/xml/aklwngt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://localhost:80/Service.wsdl"
 xmlns:tns="http://localhost:80/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:param="http://tempuri.org/param.xsd"
 xmlns:aklwngt="http://tempuri.org/aklwngt.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/param.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:param="http://tempuri.org/param.xsd"
  xmlns:aklwngt="http://tempuri.org/aklwngt.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="null">
   <restriction base="xsd:boolean">
   </restriction>
  </simpleType>
  <complexType name="value">
   <sequence>
     <element name="data" type="xsd:anyType" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="entry">
   <sequence>
     <element name="name" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value" type="param:value" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="node">
   <sequence>
    <element name="item" type="param:entry" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="params">
   <sequence>
     <element name="node" type="param:node" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="checksum" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="binfmt" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="arrayvalue">
   <sequence>
    <element name="item" type="param:value" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="string-array">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="event-info-array">
   <sequence>
    <element name="item" type="aklwngt:event-info" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

 <schema targetNamespace="http://tempuri.org/aklwngt.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:param="http://tempuri.org/param.xsd"
  xmlns:aklwngt="http://tempuri.org/aklwngt.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="ArrayOfwstring">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:wstring" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:wstring[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="param-error-loc">
   <sequence>
     <element name="format-id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="format" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="locmodule" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="args" type="aklwngt:ArrayOfwstring" minOccurs="1" maxOccurs="1" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="param-error">
   <sequence>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="module" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="file" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="line" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="locdata" type="aklwngt:param-error-loc" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="node">
   <sequence>
    <element name="item" type="param:entry" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="arrayvalue">
   <sequence>
    <element name="item" type="param:value" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="anyCmd">
   <sequence>
   </sequence>
  </complexType>
  <complexType name="CmdError">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="oError" type="aklwngt:param-error" minOccurs="1" maxOccurs="1"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="CmdHash">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="hash" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="CmdPar">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="parameters" type="param:params" minOccurs="1" maxOccurs="1"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="CmdParAndHash">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="hash" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="parameters" type="param:params" minOccurs="1" maxOccurs="1"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="string-array">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="CmdSubscriptions">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="typesInfo" type="aklwngt:string-array" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="typesWarning" type="aklwngt:string-array" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="typesError" type="aklwngt:string-array" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="typesCritical" type="aklwngt:string-array" minOccurs="1" maxOccurs="1" nillable="false"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="DevInfo">
   <sequence>
     <element name="presumedName" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="presumedGroup" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="os-type" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="os-ver-major" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="os-ver-minor" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="os-manufacturer" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="os-name" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="os-ver" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="memory" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="processor-family" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="system-name" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="system-type" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ProdInfo">
   <sequence>
     <element name="product-name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="product-version" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="installTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dn" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="prodVersion" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="LicKeyInfo">
   <sequence>
     <element name="keyType" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="keyProdSuiteID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="keyAppID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="keyInstallDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="keyExpirationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="keyLicPeriod" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="keyLicCount" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="keySerial" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="keyMajVer" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="keyProdName" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="LicenseInfo">
   <sequence>
     <element name="keyCurrent" type="aklwngt:LicKeyInfo" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="keyNext" type="aklwngt:LicKeyInfo" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="CmdAppInfo">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="hash" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="prodInfo" type="aklwngt:ProdInfo" minOccurs="1" maxOccurs="1"/>
     <element name="licenseInfo" type="aklwngt:LicenseInfo" minOccurs="1" maxOccurs="1"/>
     <element name="devInfo" type="aklwngt:DevInfo" minOccurs="1" maxOccurs="1"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="CmdAppState">
   <complexContent>
    <extension base="aklwngt:anyCmd">
     <sequence>
     <element name="hash" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="stateApp" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="stateRTP" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="lastFullScan" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="lastUpdateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="basesDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="basesInstallDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="basesRecords" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
  <complexType name="command">
   <sequence>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="data" type="aklwngt:anyCmd" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="sync-info">
   <sequence>
     <element name="hash-stgs" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="hash-pol" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="hash-sbsc" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="hash-info" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="hash-state" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="event-body">
   <sequence>
     <element name="severity" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="product-name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="product-version" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="event-type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="event-type-display-name" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="descr" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="locid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="rise-time" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="rise-time-ms" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="par1" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par2" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par3" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par4" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par5" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par6" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par7" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par8" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="par9" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="event-info">
   <sequence>
     <element name="eventId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="body" type="aklwngt:event-body" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="event-info-array">
   <sequence>
    <element name="item" type="aklwngt:event-info" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <simpleType name="klft-file-chunk-buff">
   <restriction base="xsd:base64Binary">
   </restriction>
  </simpleType>
  <complexType name="klft-file-chunk-t">
   <sequence>
     <element name="fileName" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="CRC" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="startPosInFile" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="fullFileSize" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="buff" type="aklwngt:klft-file-chunk-buff" minOccurs="1" maxOccurs="1" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="klft-file-info-t">
   <sequence>
     <element name="fileName" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="isDir" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="readPermission" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="createTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="fullFileSize" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="SessionBegin">
   <complexType>
    <sequence>
     <element name="szDeviceId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="szPassword" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="nProtocolVersion" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SessionBeginResponse">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="nProtocolVersion" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SessionEnd">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SessionEndResponse">
   <complexType>
    <sequence>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Heartbeat">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="oMaySynchronize" type="aklwngt:sync-info" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="HeartbeatResponse">
   <complexType>
    <sequence>
     <element name="oCommand" type="aklwngt:command" minOccurs="1" maxOccurs="1"/>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PutResult">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="result" type="aklwngt:command" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PutResultResponse">
   <complexType>
    <sequence>
     <element name="oNextCommand" type="aklwngt:command" minOccurs="1" maxOccurs="1"/>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="PutEvents">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="oEventsInfoArray" type="aklwngt:event-info-array" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="PutEventsResponse">
   <complexType>
    <sequence>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="klft-GetFileInfo">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="fileName" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="klft-GetFileInfoResponse">
   <complexType>
    <sequence>
     <element name="info" type="aklwngt:klft-file-info-t" minOccurs="1" maxOccurs="1"/>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="klft-GetNextFileChunk">
   <complexType>
    <sequence>
     <element name="szSessionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="fileName" type="xsd:wstring" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="startFilePos" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
     <element name="neededSize" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="klft-GetNextFileChunkResponse">
   <complexType>
    <sequence>
     <element name="chunk" type="aklwngt:klft-file-chunk-t" minOccurs="1" maxOccurs="1"/>
     <element name="oError" type="aklwngt:param-error" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="SessionBeginRequest">
 <part name="parameters" element="aklwngt:SessionBegin"/>
</message>

<message name="SessionBeginResponse">
 <part name="parameters" element="aklwngt:SessionBeginResponse"/>
</message>

<message name="SessionEndRequest">
 <part name="parameters" element="aklwngt:SessionEnd"/>
</message>

<message name="SessionEndResponse">
 <part name="parameters" element="aklwngt:SessionEndResponse"/>
</message>

<message name="HeartbeatRequest">
 <part name="parameters" element="aklwngt:Heartbeat"/>
</message>

<message name="HeartbeatResponse">
 <part name="parameters" element="aklwngt:HeartbeatResponse"/>
</message>

<message name="PutResultRequest">
 <part name="parameters" element="aklwngt:PutResult"/>
</message>

<message name="PutResultResponse">
 <part name="parameters" element="aklwngt:PutResultResponse"/>
</message>

<message name="PutEventsRequest">
 <part name="parameters" element="aklwngt:PutEvents"/>
</message>

<message name="PutEventsResponse">
 <part name="parameters" element="aklwngt:PutEventsResponse"/>
</message>

<message name="klft-GetFileInfoRequest">
 <part name="parameters" element="aklwngt:klft-GetFileInfo"/>
</message>

<message name="klft-GetFileInfoResponse">
 <part name="parameters" element="aklwngt:klft-GetFileInfoResponse"/>
</message>

<message name="klft-GetNextFileChunkRequest">
 <part name="parameters" element="aklwngt:klft-GetNextFileChunk"/>
</message>

<message name="klft-GetNextFileChunkResponse">
 <part name="parameters" element="aklwngt:klft-GetNextFileChunkResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="SessionBegin">
  <documentation>Service definition of function aklwngt__SessionBegin</documentation>
  <input message="tns:SessionBeginRequest"/>
  <output message="tns:SessionBeginResponse"/>
 </operation>
 <operation name="SessionEnd">
  <documentation>Service definition of function aklwngt__SessionEnd</documentation>
  <input message="tns:SessionEndRequest"/>
  <output message="tns:SessionEndResponse"/>
 </operation>
 <operation name="Heartbeat">
  <documentation>Service definition of function aklwngt__Heartbeat</documentation>
  <input message="tns:HeartbeatRequest"/>
  <output message="tns:HeartbeatResponse"/>
 </operation>
 <operation name="PutResult">
  <documentation>Service definition of function aklwngt__PutResult</documentation>
  <input message="tns:PutResultRequest"/>
  <output message="tns:PutResultResponse"/>
 </operation>
 <operation name="PutEvents">
  <documentation>Service definition of function aklwngt__PutEvents</documentation>
  <input message="tns:PutEventsRequest"/>
  <output message="tns:PutEventsResponse"/>
 </operation>
 <operation name="klft-GetFileInfo">
  <documentation>Service definition of function aklwngt__klft_GetFileInfo</documentation>
  <input message="tns:klft-GetFileInfoRequest"/>
  <output message="tns:klft-GetFileInfoResponse"/>
 </operation>
 <operation name="klft-GetNextFileChunk">
  <documentation>Service definition of function aklwngt__klft_GetNextFileChunk</documentation>
  <input message="tns:klft-GetNextFileChunkRequest"/>
  <output message="tns:klft-GetNextFileChunkResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="SessionBegin">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="SessionEnd">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="Heartbeat">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="PutResult">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="PutEvents">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="klft-GetFileInfo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="klft-GetNextFileChunk">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.7.0d generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
